h1{
    color:darksalmon;
    background-color: darkslategray
;    
}

*{
    text-align: center;
}
h1{
    font-size: 60px;
    font-family:"Dancing script",cursive;
}


img{
    height: 250px;
    width: 250px;
    background-color: burlywood;
    border: 20px solid rgb(36, 7, 64);
      border-top-color: rgb(96, 66, 124);
      border-bottom-color: rgb(106, 74, 135);
      padding-left: 90px;
      padding-right: 90px;
      padding-top: 10px;
      padding-bottom: 10px;
}

 }
