h2{
    color:rgb(90, 52, 17)
}

li{
    color:darkorchid
}

h2{
    text-align: center;
}

ul{
    text-align: center;
}

h3{
    color: crimson;
}
h3{
    text-align: center;
}
